<header class="bg-header p-5 mb-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
                <h1 class="mb-3 fw-bold">More than 1000 programs in 80 Schools around the world.</h1>
              <div class="SearchInput bg-white py-2 position-relative rounded-3">
                <input type="text" placeholder="Search for programs,schools..." class="border-0 form-control d-inline" id="">
                <span class="position-absolute end-0 me-2"> <button class="btn text-white"><i class="fas fa-search"></i></button></span>
              </div>
            </div>
            <div class="col-lg-6 col-12">
                <img src="../../assets/images/business-workflow 1.png" class="w-100" alt="">
            </div>
        </div>
        
        <!--------------------- dropdown menues----------------->
        <div class="dropdown-menus rounded-4 w-75 mx-auto p-2 position-absolute dropdown-bg">
         <div class="div m-3">
          <div class="row mx-auto g-2" >
            <div class="col-lg-2 col-md-4 col-4">
                <div class="dropdown d-flex justify-content-between rounded-1 align-items-center p-2">
                    <span>School</span>
                   <i class="fa-solid fa-chevron-down"></i>
                 </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4">
                <div class="dropdown d-flex justify-content-between rounded-1 align-items-center p-2">
                    <span>Field</span>
                   <i class="fa-solid fa-chevron-down"></i>
                 </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4">
                <div class="dropdown d-flex justify-content-between rounded-1 align-items-center p-2">
                    <span>Level</span> 
                   <i class="fa-solid fa-chevron-down"></i>
                 </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4">
                <div class="dropdown d-flex justify-content-between rounded-1 align-items-center p-2">
                   <span>Budget</span>
                   <i class="fa-solid fa-chevron-down"></i>
                 </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4">
                <div class="dropdown d-flex justify-content-between rounded-1 align-items-center p-2 overflow-hidden">
                    <span>Language</span>
                   <i class="fa-solid fa-chevron-down"></i>
                 </div>
            </div>
            <div class="col-lg-2 col-md-4 col-4">
                <div class="dropdown d-flex justify-content-between rounded-1 align-items-center p-2 overflow-hidden">
                      <span>Select city</span>
                   <i class="fa-solid fa-chevron-down"></i>
                 </div>
            </div>
           </div>
         </div>
           
       </div>
        
    </div>
</header>

