<footer class="footer-section p-5 position-relative mt-5">
    <div class="container mt-5">
        <div class="subscribe d-flex p-4 rounded-3 w-75 bg-purple justify-content-between my-3 ">
            <div class="subscribe-caption text-dark">
                <h5>Subscribe to get notified</h5>
                <p class="text-wrap">Subscribe to our newsletter and be informed about all our new updates.</p>
            </div>
            <div class="subscribe-input position-relative">
                <input type="email" id="email" placeholder="Enter your Email" class="form-control py-3">
                <button class="btn position-absolute">Subscribe</button>
            </div>
        </div>
        <div class="footer-logo">
            <img src="../../assets/images/studentgator-logo.svg" class="w-100" alt="studentgator-logo">
        </div>
        <div class="row py-5  ">
            <div class="col-lg-4 col-12">
               <div class="col-content">
                <div class="social-icons mb-2">
                    <i class="fa-brands fa-instagram fs-3 me-2"></i>
                    <i class="fa-brands fa-linkedin fs-3  me-2"></i>
                    <i class="fa-brands fa-youtube fs-3 me-2"></i>
                    <i class="fa-brands fa-facebook fs-3 me-2"></i>
                </div>
                <p>About us</p>
                <p>Terms and conditions</p>
                <p>Privacy</p>
               </div>
    
            </div>
            <div class="col-lg-4 col-12 ">
                <div class="col-content">
                 <h3>Services</h3>
                 <p>Application</p>
                 <p>Acceptance</p>
                 <p>Visa</p>
                 <p>Housing</p>
                 <p>In France</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="col-content">
                    <h3>Contact us</h3>
                    <p><i class="fas fa-phone me-2"></i> <span>+33 7 66 70 09 73</span></p>
                    <p><i class="fas fa-envelope me-2"></i><span>admin@studentgator.com</span></p>
                    <p><i class="fas fa-location me-2"></i><span>Address: 5 Av. de Celle, 92360 Meudon, France</span></p>
                </div>
            </div>
    
        </div>
        <hr>
        <p>© 2024 StudentGator All rights reserved.</p>       
    </div>
</footer>
