<nav
    class="navbar navbar-expand-sm navbar-light bg-white p-4"
>
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../assets/images/logo.svg" alt="Graduation_cap" class="w-100"></a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 ">
              
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="/programs" routerLinkActive="active">Programs</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link"  routerLinkActive="active">Student Navigator</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="/blog"  routerLinkActive="active">Blog</a>
                </li>
               
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              
                <li class="nav-item d-flex justify-content-between">
                    <i class="fas fa-search mx-2"></i>
                    <i class="fa-regular fa-heart mx-2"></i>
                    <i class="fa-regular fa-user mx-2"></i>

                </li>
              
               
            </ul>
           
        </div>
    </div>
</nav>

